// 不支持 ES6 语法

// 格式化 播放量
function formatCount(count) {
  // 转数字
  var counter = parseInt(count)
  if(counter > 100000000) {
    return (counter / 100000000).toFixed(1) + "亿"
  } else if (counter > 10000) {
    return (counter / 10000).toFixed(1) + "万"
  } else {
    return counter + ""
  }
}
// 格式化 时间
function formatDuration(duration) {
  duration = duration / 1000
  // 分:秒
  var minute = Math.floor(duration / 60)
  var second = Math.floor(duration) % 60
  return padLeftZero(minute) + ":" + padLeftZero(second)
}

// 时间添0
function padLeftZero(time) {
  time = time + ""
  return ("00" + time).slice(time.length)
}

// commonjs
module.exports = {
  formatCount: formatCount,
  formatDuration: formatDuration
}